.tl-tf-button-add{
    padding: 8px;
    color: white;
    background-color: #00fa;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 10px;
}
.tl-tf-input{

}

.tl-header{
        text-align: center;
}